:root {
  --font-content: "Inter";
  --font-color: #ffffff;
  --body-color: #2a2a2a;
  --head-line-color: #ffbf00;
  --shapes-background: #191616;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
}
